/*-- scss:rules --*/

.column { 
    padding-top: 2rem;
}

.column h1, h2, h3, h4, h5, p { 
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.column li { 
    margin-left: 2.5rem;
    margin-right: 1rem;
    padding-left: 0;
    list-style-position: outside;
}

li { 
    padding-left: 1rem;
    margin-left: 3rem;
    list-style-position: outside;
}

#title-slide h1, .subtitle { 
    text-align: left;
    padding-left: 1.5rem;
}

.reveal p.subtitle { 
    margin-left: 0;
    padding-left: 2rem;
}

#title-slide p {
    text-align: right;
}

#title-slide p.subtitle {
    text-align: left;
}

.reveal .quarto-title-author-name { 
    text-align: right;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.reveal .quarto-title-block .quarto-title-authors {
    display: flex;
    justify-content: right;
}


.reveal h1 { 
    font-size: 4rem;
}

.reveal h5 { 
    font-size: 2rem; 
}

.column p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.font-larger { 
    font-size: 2rem; 
}

.big { 
    font-size: 5rem; 
}

.beeg {
    font-size: 35rem;
}

.message p { 
    font-size: 3rem;
}

.stretch { 
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.stretch p { 
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.stretch img { 
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.stretch.cell-output-display { 
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.footnote {
	position: absolute;
	bottom: 2em;
	padding-right: 2em;
	padding-left: 0.0em;
	padding-bottom: 4em;
	font-size: 70%;
	text-align: left;
  }
  
.column .footnote { 
	padding-left: 0.5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.fragment.blur {
filter: blur(15px);
}
.fragment.blur.visible {
filter: none;
}
.reveal .slides section .fragment.bold {
    opacity: 1;
    visibility: inherit;
}

.reveal .slides section .fragment.bold.current-fragment{
    font-weight: bold;
}

.split-40 >.column p {
    margin-left: 1rem;
    padding-left: 1rem;
}


.portrait {
    width: 8em;
    height: 8em;
    max-width: 8em;
    max-height: 8em;
    border-radius: 50%;
    /* overflow: hidden; */
    /* display:inline-block; */
    vertical-align:top;
    border:solid #000 1px; 
  } 
  

  .portrait-medium {
    width: 6em;
    height: 6em;
    max-width: 6em;
    max-height: 6em;
    min-width: 6em;
    min-height: 6em;
    border-radius: 50%;
    /* overflow: hidden; */
    display:inline-block;
    /* vertical-align:top; */
  } 

  .portrait-small {
    width: 4em;
    height: 4em;
    max-width: 4em;
    max-height: 4em;
    min-width: 4em;
    min-height: 4em;
    border-radius: 50%;
    /* overflow: hidden; */
    display:inline-block;
    /* vertical-align:top; */
  } 
  

  .portrait-smaller {
    width: 2em;
    height: 2em;
    max-width: 2em;
    max-height: 2em;
    min-width: 2em;
    min-height: 2em;
    border-radius: 50%;
    /* overflow: hidden; */
    display:inline-block;
    /* vertical-align:top; */
  } 
  

.font_smaller {
	font-size: 90%;
}
  

.font_65 {
	font-size: 65%;
}

.font_80 {
	font-size: 80%;
}

